<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${itemToUpdate.name} + ' (редактирование)'">Редактирование пункта меню</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header-bar}"></div>

<h2 class="text-center my-4">Меню: редактирование</h2>

<div th:fragment="form-update-menuItem" id="editForm" class="container">
    <form th:action="@{/manager/menu/update}" method="post" th:object="${itemToUpdate}" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-8">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">Наименование</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="name" name="name" th:field="*{name}"
                               required placeholder="Наименование">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-sm-3 col-form-label">Описание:</label>
                    <div class="col-sm-9">
                            <textarea class="form-control" id="description" name="description" rows="4"
                                      th:field="*{description}" placeholder="Описание блюда"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="foodGroup" class="col-sm-3 col-form-label">Раздел в меню</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="foodGroup" name="foodGroup" required
                                th:field="*{foodGroup.groupId}">
                            <option th:each="group : ${foodGroups}" th:value="${group.groupId}" th:text="${group.name}"
                                    th:selected="${group.groupId} == ${itemToUpdate.foodGroup.groupId}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="price" class="col-sm-3 col-form-label">Цена:</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="price" name="price" required
                               th:field="*{price}" step="0.01" min="0" value="0.00"
                               oninput="validateDecimalInput(event)">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="specialPrice" class="col-sm-3 col-form-label">Специальная цена:</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="specialPrice" name="specialPrice"
                               th:field="*{specialPrice}" step="0.01" min="0" value="0.00"
                               oninput="validateDecimalInput(event)">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="active" class="col-sm-3 col-form-label">Показывать в меню:</label>
                    <div class="col-sm-9">
                        <input class="custom-checkbox"  type="checkbox" id="active" name="active" th:field="*{active}">
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <img id="imagePreview" class="img-fluid" th:src="@{${itemToUpdate.imageURL}}"
                     style="max-width: 100%;">
                <label for="image" class="btn btn-secondary mt-2 custom-file-upload d-block">Выбрать файл</label>
                <input type="file" id="image" name="image" class="file-input" accept=".jpg,.jpeg,.png,.svg"
                       onchange="previewImage(event)">
            </div>
        </div>

        <div class="imgButtonPanel row">
            <div class="col-md-12 text-center mt-3">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a class="btn btn-danger" href="javascript:void(0);" onclick="showModal()">Удалить</a>
                <a class="btn btn-secondary" th:href="@{/manager/menu}">Отмена</a>
            </div>
        </div>
    </form>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Подтверждение удаления</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Вы уверены, что хотите удалить это блюдо?</p>
                <p>Если заказов на блюдо ещё не было, оно удалится навсегда.</p>
                <p>Если были - поместится в архив.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                <button type="button" class="btn btn-danger" th:onclick="'deleteItem(' + ${itemToUpdate.id} + ')'">Да</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function previewImage(event) {
       var reader = new FileReader();
       reader.onload = function() {
           var output = document.getElementById('imagePreview');
           output.src = reader.result;
       };
       reader.readAsDataURL(event.target.files[0]);
   }

   function showModal() {
       $('#deleteModal').modal('show');
   }

   function closeModal() {
       $('#deleteModal').modal('hide');
   }

   function deleteItem(itemId) {
       fetch(`/manager/menu/delete/${itemId}`, {
           method: 'POST',
           headers: {
               'Content-Type': 'application/json'
           }
       }).then(response => {
               if (response.ok) {
                   window.location.href = '/manager/menu';
               } else {
                   console.error('Ошибка при удалении блюда');
               }
           }).catch(error => {
               console.error('Ошибка при выполнении запроса:', error);
       });
       closeModal();
    }

    function validateDecimalInput(event) {
        const value = event.target.value;
        if (!/^\d*(\.\d{0,2})?$/.test(value)) {
            event.target.value = value.slice(0, -1);
        }
    }
</script>

</body>
</html>
