* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.center {
    padding-left: calc(50vw - 300px);
    padding-right: calc(50vw - 300px);
}

.imgButton {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 124ms linear, transform 124ms linear;
    outline: none;
}

.imgButton:hover {
    opacity: 0.6;
    transform: scale(1.15);
    outline: none;
}

.imgButtonInput:hover {
    opacity: 0.6;
    transform: scale(1.15);
    outline: none;
}


/* xxxxxxxx menu xxxxxxxxxx */
/* Скрытие стандартного поля выбора файла */
.file-input {
    display: none;
}

/* Стили для кастомной кнопки */
.custom-file-upload {
    display: inline-block;
    justify-content: center;
    cursor: pointer;
    background-color: #ddd;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
}

/* Предпросмотр изображения */
#imagePreview {
    width: 250px;
    height: 250px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Фиксированная ширина и высота textarea, без возможности изменения размеров */
textarea {
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.custom-checkbox {
    width: 32px;
    height: 32px;
    margin: 0 16px;
    padding: 4px 0 0 0;
    appearance: none;
    -webkit-appearance: none;
    background-color: #f0f0f0;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    outline: none;
    transition: background-color 0.2s, border-color 0.2s;
}

.custom-checkbox:checked {
    background-color: green;
    border-color: green;
}

.custom-checkbox:checked::before {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

.menu-item {
    border: 1px solid;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.menu-item.active {
    border-color: green;
    background-color: #e0ffe0;
}

.menu-item.inactive {
    border-color: gray;
    background-color: #f0f0f0;
}

.menu-item-big-text {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}

.menu-item-big-text:hover {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}

.menu-item-small-text {
    font-size: 0.8em;
}

.modal-content {
    width: 300px;
    margin: auto;
}

.buttons-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttons-column button {
    margin-bottom: 10px;
    width: 80px;
}

.alert-warning {
    border: solid 1px indigo;
    border-radius: 10px;
    margin: 16px 0;
    padding: 10px 10px;
    color: red;
}

.list-group-item {
    border: 1px solid #ddd; /* Добавьте границу для всех сторон */
    border-radius: 5px;
    cursor: pointer;
}

.selected {
    background-color: #e0ffe0 !important;
    border-color: green !important;
    border: 1px solid !important;
    border-radius: 5px;
    cursor: pointer;
}

/* HEADER */

.header-bar {
    background-color: #2C2825; /* Цвет шоколада */
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.header-bar .logo {
    display: flex;
    align-items: center;
}

.header-bar .logo img {
    height: 70px;
    margin-right: 10px;
}

.header-bar .user-info {
    text-align: right;
}

.header-bar .user-info p {
    margin: 0;
}

.header-bar .user-info a {
    color: white;
    text-decoration: none;
}

.header-bar .user-info a:hover {
    text-decoration: underline;
}