<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style_mobile.css}">
</head>
<body>
<h1>Order Confirmation</h1>

<div th:each="order : ${receipt.orderList}" class="order-card">
    <img th:src="@{${order.menuItem.imageURL}}" alt="No Image">
    <div class="order-card-content">
        <div th:text="${order.menuItem.name}">Name</div>
        <div th:text="${order.menuItem.price} + ' ₽'">Price</div>
        <div th:text="${order.count}">Quantity</div>
        <div th:text="${order.menuItem.price.multiply(order.count)} + ' ₽'">Total</div>
    </div>
</div>

<div class="order-card">
    <div class="order-card-content">
        <div>
            <strong>Bonus Card</strong>
            <p th:text="'Номер карты: ' + ${receipt.bonusCard.cardId}"></p>
            <p th:text="'Владелец: ' + ${receipt.bonusCard.clientName}"></p>
            <p th:text="'Скидка: ' + ${receipt.bonusCard.discount.discountName}"></p>
        </div>
    </div>
</div>

<div class="receipt-total-sum">
    <p th:text="'Total Sum: ' + ${receipt.total_sum} + ' ₽'"></p>
</div>

<div class="receipt-buttons">
    <button onclick="payReceipt()" th:attr="data-receipt-id=${receipt.receipt_id}">ОПЛАТИТЬ</button>
    <button onclick="sendToKitchen()" th:attr="data-receipt-id=${receipt.receipt_id}">ОТПРАВИТЬ НА КУХНЮ</button>
</div>

<script>
    function payReceipt() {
        const receiptId = document.querySelector('button[onclick="payReceipt()"]').getAttribute('data-receipt-id');
        fetch(`/payReceipt?receiptId=${receiptId}`, {
            method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Оплата успешна!');
                // Optionally, redirect or update the page
            }
        });
    }

    function sendToKitchen() {
        const receiptId = document.querySelector('button[onclick="sendToKitchen()"]').getAttribute('data-receipt-id');
        fetch(`/sendToKitchen?receiptId=${receiptId}`, {
            method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Заказ отправлен на кухню!');
                // Optionally, redirect or update the page
            }
        });
    }
</script>
</body>
</html>